@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.navbar{
    color: #fff !important;

}
.navbar-brand{
    color: #fff !important;
    font-size: 1.8rem !important;
    font-family: 'Charm','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item{
    padding: 0 1.4rem !important;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.nav-link{
    color: #fff !important;
    font-size: 1.2rem;
    transition: 0.8s ease-in-out all;
}
.nav-link:hover{
  background: #d32626 !important;
  color: white !important;
  font-size: 1.2rem;
}
.navbar-brand{
    font-size: 2.1rem !important;
}
/* INTRODUCTION */
.intro{
    height: 70vh;
}
.intro img{
    height: 95vh;
    transition:all 0.3s ease;
}
/* caption */
.captionz{
    margin-bottom: 7rem;
    letter-spacing: 1.6;
    color: #333;
}
.captionz h5{
    width: 100%;
    max-width: 100%;
    font-size: 3rem;
    font-weight: 800;
    font-family: 'charm', Arial, Helvetica, sans-serif;

}
.captionz p{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 1.8rem;

}
.example_a {
    color: #fff !important;
    background: #6886c5;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.8s ease 0s;
    text-decoration: none;
    }
    .button_cont a{
      text-decoration: none;
    }
    
    .example_a:hover {
        background: #f79071;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.8s ease 0s;
        }
        /* language section */
.language{
    margin-top: 10rem;
    padding: 1.8rem .9rem;
    text-align: center;
}
.icons img{
    width: 80px;
    height: 70px;
    text-align: center;
}
a{
  text-decoration: none;
}
.language h1{
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-weight: bolder;
  padding: 1rem;
}
.language h4{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
}
/* FUNFACTS */
.funfacts{
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 90px 22px;
    line-height: 1.7;
}
.funfacts h1{
    font-size: 6rem;
    font-family: 'charm', Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;

}
.funfacts h2{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.funfacts p{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 1.3rem;
}
.fun{
    font-size: 4rem;
}
/* rIDDLE SECTION */
.RID{
    text-align: center;
    margin-top: 2rem;
    padding: 3rem 1rem;
}
.RID img{
    margin-top: 1rem;
    width: 70%;
    height: 80%;
}
#rid{
    margin-top: 1rem;
    display: none;
    padding: 1rem .8rem;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    background-color: #6886c5;
    color: #fff;
    font-family: 'charm', Arial, Helvetica, sans-serif;

}
 .RID .btn{
    margin: 2rem;
}
.RID h1{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    letter-spacing: 1.6;
    font-size: 2rem;
    padding: 1rem;
    }

/* favorite personlaity */
#fav h1{
    font-family: 'charm', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  
  #fav h1::after {
    content: ' ';
    background: #fff;
    display: block;
    height: 4px;
   margin: 20px auto 5px;
  } 
  #fav {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem;
    border: 2px solid pink;
  }
  
  .Profile-Pic {
    margin-top: 25px;
    border: 2px solid #fff;
    padding: 1rem .8rem;
  }
  .Profile-Pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
  }
  .Profile-Pic .img-box img{
    filter: grayscale(1);
    height: 100%;
    width: 100%;
  }
  .Profile-Pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
  }
  .Profile-Pic h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;

  }
  .Profile-Pic h3{
    font-size: 1rem;
    margin-top: 15px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1rem;
    line-height: 1.6;
  }
/* GET IN TOUCH */
.content-box h1{
    font-family: 'charm', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.content-box h1::after {
    content: ' ';
    background: #000000;
    display: block;
    height: 4px;
   margin: 20px auto 5px;
  } 
.content-box{
    padding: 3rem 1rem;
  }
  .form-group {
    border-radius: 10% !important;
    box-shadow: none !important;
    margin: 1.1rem;
  }
  .form-group input{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
  .contact-form .follow{
    background: #000000;
    padding: .9rem .8rem;
    margin: 1.1rem;
    color: #fff;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
  }
  .contact-form span{
      text-align: center;
  }
  .contact-form .fa{
    font-size: 2rem;
    color: #fff;
    padding-right: 3rem;
    transition: 0.7s ease-in;
  }
  .contact-form .fa:hover {
    color: #f79071;
    padding: 10px;
  
  }
  /* FOOTER */
  footer{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
      color: #fff;
      max-width: 100%;
      text-align: center;
      padding: 1.6rem .8rem;
      background-color: black;
  }
  footer h4{
      padding: 2rem;
      font-family: 'Poppins',Arial, Helvetica, sans-serif;
  }
  
/* ANIMATED TEXT */
footer .animated {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.ibb.co/89Cf3dm/text-bg.png') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 90s linear infinite;
    -webkit-animation: moveBg 90s linear infinite;
 
  /* Text Background Animation */
  }
   @keyframes moveBg {
    0% {
      background-position: 0% 30%;
    }
  
    100% {
      background-position: 100% 50%;
    }
  }
/* Media Query */

@media (max-width: 600px){
    .intro img{
        height: 90vh;
        width: 100vh;
    }
    .navbar-brand{
      color: #fff !important;
      font-size: 1rem !important;
      font-family: 'Charm','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
    .language h1{
      font-family: 'Poppins',Arial, Helvetica, sans-serif;
      line-height: 1.6;
      font-weight: bolder;
      padding: 1rem;
      max-width: 100%;
      width: 100%;
      font-size: 1.2rem;
    }
    .content-box h1{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      font-size: .8rem;
      font-weight: 600;
      text-align: center;
      width: 100%;
      max-width: 100%;
  }
  .form-group input{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: .6rem;
  }
  .contact-form .follow{
    background: #000000;
    padding: .4rem .6rem;
    margin: .7rem;
    color: #fff;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
  }
  .contact-form .fa{
    font-size: .7rem;
    color: #fff;
    padding-right: 1rem;
    transition: 0.7s ease-in;
  }
  .contact-form .fa:hover {
    color: #f79071;
    padding: 5px;
  
  }
  
    footer h1{
      font-size: 1.5rem;
      font-weight: bolder;
      max-width: 100%;
      width: 100%;
    }
    footer h4{
      font-size: 1.2rem;
      max-width: 100%;
      width: 100%;
    }
    .captionz h5{
        font-size: 1.2rem;
        font-family: 'Poppins',Arial, Helvetica, sans-serif;
        width: 100%;
        font-weight: bolder;
        text-align: center;
    }
    .captionz p{
        font-size: 1rem;
        font-family: 'Poppins',Arial, Helvetica, sans-serif;
    }
    .language{
      margin-top: 5rem;
      padding: 1.3rem .9rem;
      text-align: center;
  }
    footer{
        font-family: 'Poppins',Arial, Helvetica, sans-serif;
          color: #fff;
          max-width: 100%;
          text-align: center;
          font-size: .6rem;
          padding: 1.2rem .6rem;
          background-color: black;
      }
    .example_a {
        color: #fff !important;
        background: #6886c5;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'charm', Arial, Helvetica, sans-serif;
        padding: 20px 40px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        }

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    .captionz h1{
        font-size: 1rem;
        
    }
}


/* ANIMATED TEXT */
.animated {
    font-family: 'Charm', cursive;
    margin: 0;
    padding: 0;
    background: url('https://i.ibb.co/89Cf3dm/text-bg.png') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 90s linear infinite;
    -webkit-animation: moveBg 90s linear infinite;
 
  /* Text Background Animation */
  }
   @keyframes moveBg {
    0% {
      background-position: 0% 30%;
    }
  
    100% {
      background-position: 100% 50%;
    }
  }
  .animateds {
    font-family: 'Charm', cursive;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    background: url("images/download.jpg") repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBgs 90s linear infinite;
    -webkit-animation: moveBgs 90s linear infinite;
  }
  
  /* Text Background Animation */
  @keyframes moveBgs {
    0% {
      background-position: 0% 30%;
    }
  
    100% {
      background-position: 100% 50%;
    }
  }